@import '../../../variables.scss';

.root {
  margin-bottom: 8px;

  .comment {
    display: flex;
    flex-direction: column;

    padding: 8px;

    .user {
      display: flex;
      flex-direction: row;
      display: flex;
      flex-direction: row;
      align-items: center;

      .userName {
        margin-left: 12px;
        font-weight: bold;
      }
    }

    .content {

    }

    .actions {
      
    }
  }

  .reply {
    width: 100%;
    margin-top: 8px;

    display: flex;
    flex-direction: row;

    .replyInput {
      width: 95%;
    }
  }
}