@import '../../variables.scss';

.root {
  .actions {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}