@import '../../../variables.scss';

.root {
  padding: 12px 20px 12px 20px;
  border-radius: 6px;
  margin-bottom: 12px;

  display: flex;
  // justify-content: left;
  align-items: left;
  flex-direction: column;

  div {
    margin: 6px 0px 6px 0px;
    width: fit-content;
  }
}

