@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;

  padding: 16px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .createdBy {
      margin-left: 12px;
    }
  }

  .content {

  }
}