@import '../../../variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  margin-top: 24px;
  padding: 12px;
  max-width: 1000px !important;

  .input {
    width: 100%;
  }
}

.mine {
  flex-direction: row-reverse;

  .content {
    background-color: $colorLightBlue;
  }
}

.other {
  flex-direction: row;
}
