@import '../../../variables.scss';

.root {
  padding: 4px !important;
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 48px !important;
}