@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden !important;
}

body {
  background-color: $bgColor;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
  height: 100%;
  min-height: 100%;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  overflow-y: hidden;
  overflow-x: hidden !important;

  #root {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden !important;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}