$bgColor: #fff;

$linkColor: #fff;
$linkHoveredColor:#eb3d55;
$linkActiveColor: #3695cb;

$colorWhite: #fff;
$colorBlack: rgb(0, 0, 0);
$colorGray: #7f8489;
$colorLightGray: #d6d6d6;
$colorLighterGray: #f5f5f5;
$colorMiddleLightGray: #cbcbcb;
$colorDarkGray: #3c444d;
$colorLightBlue: #3498db;
$colorBlue: #4972ff;
$colorDarkBlue: #3257d1;
$colorRed: #eb3d55;
$colorOrange: #f27a54;
$colorYellow: #f5ff89;
$colorYellowDark: #beca3c;
$colorGreen: #6fd238;
$colorGreenDark: #65b737;

$colorTextWhite: #fff;
$colorTextGray: #cbcfd4;
$colorTextOrange: #f27a54;

// Breakpoints
$phoneBreakpoint: 576px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1200px;

// Font size
$small: 1rem;
$large: 2.5rem;
$mediumLarge: 1.75rem;
$medium: 1.25rem;

$sectionWidth: 1176px;